 .navbar {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
background: rgba(15, 51, 69, 0.85);
backdrop-filter: blur(10px);
 }

.nav-links {
  display: flex;
  gap: 25px;
}
.nav-links a::after {
  width: 0%;
}
.nav-links a:hover::after {
  width: 100%;
}

.nav-links {
  position: absolute;
  right: -100%;
}
.nav-links.active {
  right: 0;
}
